<!doctype html>
<html lang="nl">
<head prefix="og: https://ogp.me/ns#">
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Alles van woorden</title>
    <meta property="og:title" content="Alles van woorden" />
    <meta property="og:site_name" content="Alles van woorden"/>
    <meta property="og:description" content="Alles van woorden is een veelzijdig tekstbureau" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://allesvanwoorden.nl/" />
    <meta property="og:image" content="https://allesvanwoorden.nl/images/logo.svg"/>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="ct-paper.css" rel="stylesheet"/>
    <link href="site.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Alles van woorden</a>
        </div>

        <div class="collapse navbar-collapse" id="navigation-menu">
          <ul class="nav navbar-nav navbar-right">
            <a href="https://nl.linkedin.com/in/anyaboelhouwer" target="_blank" class="btn btn-simple"><i class="fa fa-linkedin"></i></a>
            <a class="button-mail btn btn-simple" href="/#contact"><i class="fa fa-envelope"></i></a>
           </ul>
        </div>
      </div>
    </nav>

    <div class="wrapper">
        <div class="landing-header">
            <div class="motto">
                <h1><img src="images/logo.svg"></h1>
                <h3><img src="images/avw.png"></h3>
                <div class="scroll"><i class="fa fa-chevron-down"></i></div>
            </div>
        </div>
        <div class="landing-padding"></div>
        <div class="main">
            <div class="section text-center landing-section maintext">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                                <img class="img-circle img-responsive" src="images/anya.jpg">
                                <h2>Hallo, ik ben <strong>Anya Boelhouwer</strong>.</h2>
                                <p>Ik maak alles van woorden en ben verslingerd aan taal en mooie verhalen. Van lezen, schrijven en nieuwe dingen leren word ik al sinds mijn kleutertijd heel gelukkig.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-nude section-wat landing-section">
                <div class="container">
                    <h2 class="text-center">Wat doe ik?</h2>
                    <div class="row">
                        
                            <div class="col-md-6 column">
                                <h4 class="text-primary">Webteksten en webredactie</h4>
                                <p>Ik ben een ervaren webredacteur en help graag jou of je bedrijf online te presenteren met Tweets, blogs, nieuwsbrieven en Google-vriendelijke webteksten.</p>
                            </div>
                            <div class="col-md-6 column">
                                <h4 class="text-primary">Interviews</h4>
                                <p>Heb je een interview nodig voor een onderzoek of voor een artikel? Ik neem het graag af. Heb je het zelf al afgenomen? Dan werk ik het met plezier voor je uit.</p>
                            </div>
                            <div class="col-md-6 column">
                                <h4 class="text-primary">Achtergrondartikelen</h4>
                                <p>Ik ben ervaren in journalistieke research, ga graag de diepte in en heb een brede belangstelling. Laat me op onderzoek uitgaan en ik maak er een mooi verhaal van.</p>
                            </div>
                            <div class="col-md-6 column">
                                <h4 class="text-primary">Tekstredactie en ‑correctie</h4>
                                <p>Hulp nodig om een wollige tekst of complexe informatie om te toveren tot een prettig leesbaar, helder stuk, waarin alle d&rsquo;s en t&rsquo;s op de juiste plek staan? Of het nu een scriptie is of een jaarverslag, mijn handen beginnen al te jeuken.</p>
                            </div>
                    </div>
                    <div class="visible-md visible-lg">
                        <br>
                        <div class="row text-center">
                            <h4 class="text-primary">Anders nog iets...?</h4>
                            <p>Zoek je de juiste woorden? Neem contact met me op en laat me weten hoe ik je van dienst kan zijn!</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section section-droom landing-section" data-parallax="scroll" data-image-src="images/droom.jpg">
                <div class="container">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>Mijn droom</h2>
                        <p>Mijn ultieme droom is om mensen te inspireren met verhalen, en samen met anderen de wereld een beetje mooier te maken.</p>
                        <p>Onderwerpen die me speciaal interesseren zijn duurzaamheid, wetenschap, dieren(welzijn), natuur(behoud) en historisch en cultureel erfgoed.</p>
                    </div>
                </div>
            </div>

            <div id="contact" class="section section-mail landing-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="text-center">Stuur me een bericht</h2>
                            <div class="social">
                                <a href="https://nl.linkedin.com/in/anyaboelhouwer" target="_blank" class="btn"><i class="fa fa-linkedin"></i>LinkedIn</a>
                            </div>
                            <form class="contact-form" action="//formspree.io/websiteformulier@allesvanwoorden.nl" method="POST">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Je naam</label>
                                        <input class="form-control" placeholder="Naam" name="name" id="name">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Je email</label>
                                        <input class="form-control" placeholder="aww@hamsters.com" name="_replyto" id="email">
                                    </div>
                                </div>
                                <label>Je bericht</label>
                                <textarea class="form-control" rows="4" placeholder="Hee, hallo!" name="message" id="message"></textarea>
                                <input type="text" name="_gotcha" style="display:none" />
                                <input type="hidden" name="_next" value="//www.allesvanwoorden.nl/bedankt" />
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-4">
                                        <button class="btn btn-primary btn-block btn-lg btn-fill" type="submit">Versturen</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="site.js"></script>
    
</html>