<!doctype html>
<html lang="nl">
<head prefix="og: https://ogp.me/ns#">
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Alles van woorden</title>
    <meta property="og:title" content="Alles van woorden" />
    <meta property="og:site_name" content="Alles van woorden"/>
    <meta property="og:description" content="Alles van woorden is een veelzijdig tekstbureau" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://allesvanwoorden.nl/" />
    <meta property="og:image" content="https://allesvanwoorden.nl/images/logo.svg"/>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="/ct-paper.css" rel="stylesheet"/>
    <link href="/site.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Alles van woorden</a>
            <div class="navbar-right">
                <a href="voorbeelden" target="_blank" class="btn btn-simple"><i class="fa fa-pencil"></i></a>
                <a href="https://nl.linkedin.com/in/anyaboelhouwer" target="_blank" class="btn btn-simple"><i class="fa fa-linkedin"></i></a>
                <a class="button-mail btn btn-simple" href="/#contact"><i class="fa fa-envelope"></i></a>
            </div>
        </div>
      </div>
    </nav>

    <div class="wrapper">
        <div class="main">
            <div class="section section-nude section-wat landing-section">
                <div class="container">
                    <h2 class="text-center">Soorten schrijfwerk</h2>
                    <div class="row">
                        <div class="col-md-6 column">
                            <h4 class="text-primary">Interviews, artikelen en reportages</h4>
                            <p>Kort en bondig of meer de diepte in. Ik heb ervaring met journalistieke research en oog voor de mens achter elk verhaal.</p>
                        </div>
                        <div class="col-md-6 column">
                            <h4 class="text-primary">Online copy</h4>
                            <p>Online copy voor je website en socials. Ik ben een ervaren online redacteur en help je om jou of je bedrijf online te presenteren met krachtige LinkedIn-posts en compacte, rake webteksten. Let op: ik maak teksten Google-vriendelijk, maar ik ben geen SEO-specialist.</p>
                        </div>
                    </div>                        
                    <div class="row">
                        <div class="col-md-6 column">
                            <h4 class="text-primary">Verslagen en recensies</h4>
                            <p>Wil je een schriftelijk verslag van jouw evenement, of een onderdeel daarvan? Dat niet alleen feitelijk is, maar ook leuk om te lezen? Kom maar op. Ook als je iets wil laten recenseren kun je bij mij terecht.</p>
                        </div>
                        <div class="col-md-6 column">
                            <h4 class="text-primary">Storytelling voor jouw organisatie</h4>
                            <p>Wil je je bedrijfsverhaal laten optekenen? Of verhalen gebruiken om mensen in beweging te krijgen? Ik heb de opleiding Storytelling gevolgd aan de Schrijversacademie, en ben je graag van dienst.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="contact" class="section section-voorbeelden landing-section">
                <div class="container">
                    <h2 class="text-center">Voorbeelden</h2>
                    <div class="row">
                        <div class="col-md-6 column">
                            <h4 class="text-primary"><span class="glyphicon glyphicon-link"></span><a target="_blank" href="http://www.zonmw.nl/tipsvoorjongerenprojecten">Tips voor jongerenprojecten</a></h4>
                            <p>Website met artikelen, podcasts en video’s in het kader van de Maatschappelijke Diensttijd. Samengesteld in samenwerking met een communicatiebureau, in opdracht van ZonMw. Ik schreef ook het bijbehorende communicatie- en verspreidingsplan en was verantwoordelijk voor de campagne.</p>
                        </div>
                        <div class="col-md-6 column">
                            <h4 class="text-primary"><span class="glyphicon glyphicon-link"></span><a target="_blank" href="https://www.zonmw.nl/nl/artikel/mdt-kort-de-natuur-als-leermeester">MDT-Kort - De natuur als leermeester</a></h4>
                            <p>Interview met een projectleider & student over het project Natuureducatie voor studenten. Voor de website van ZonMw.</p>
                        </div>
                    </div>                        
                    <div class="row">
                        <div class="col-md-6 column">
                            <h4 class="text-primary"><span class="glyphicon glyphicon-link"></span><a target="_blank" href="https://www.pharos.nl/hoe-word-je-een-school-waar-iedereen-zich-welkom-voelt-deze-montessorischool-in-zeist-gaat-de-wijk-in/">"Hoe word je een school waar iedereen zich welkom voelt? Deze montessorischool in Zeist gaat de wijk in"</a></h4>
                            <p>Artikel voor de website van Pharos, Expertisecentrum gezondheidsverschillen, in het kader van het programma Welbevinden op School.</p>
                        </div>
                        <div class="col-md-6 column">
                            <h4 class="text-primary"><span class="glyphicon glyphicon-link"></span><a target="_blank" href="https://www.nponderwijs.nl/praktijkverhalen-mbo-ho/nieuws/2023/04/11/taalbewust-beroepsonderwijs">“Zonder taal staat alles stil.” Taalbewust beroepsonderwijs bij Onderwijsgroep Tilburg</a></h4>
                            <p>Interview voor de website van het Nationaal Programma Onderwijs in opdracht van het ministerie van Onderwijs, Cultuur en Wetenschap.</p>
                        </div>
                    </div>                        
                    <div class="row">
                        <div class="col-md-6 column">
                            <h4 class="text-primary"><span class="glyphicon glyphicon-link"></span><a target="_blank" href="https://www.nponderwijs.nl/praktijkverhalen-mbo-ho/nieuws/2023/03/27/dominiquejenny">Broodnodige verlenging voor klimaatonderzoeker Dominique Jenny</a></h4>
                            <p>Interview voor de website van het Nationaal Programma Onderwijs in opdracht van het ministerie van Onderwijs, Cultuur en Wetenschap.</p>
                        </div>
                        <div class="col-md-6 column">
                            <h4 class="text-primary"><span class="glyphicon glyphicon-link"></span><a target="_blank" href="https://www.nponderwijs.nl/praktijkverhalen-mbo-ho/nieuws/2023/03/24/tu-eindhoven">Laten we praten! Peer listeners bij TU Eindhoven</a></h4>
                            <p>Interview voor de website van het Nationaal Programma Onderwijs in opdracht van het ministerie van Onderwijs, Cultuur en Wetenschap.</p>
                        </div>
                    </div>                        
                    <div class="row">
                        <div class="col-md-6 column">
                            <h4 class="text-primary"><span class="glyphicon glyphicon-link"></span><a target="_blank" href="https://www.kenniscentrum-kjp.nl/wp-content/uploads/2020/06/Magazine-Samenwerken-voor-een-psychisch-gezonde-jeugd-DIGI.pdf">Magazine Samenwerken voor een psychisch gezonde jeugd</a></h4>
                            <p>Online & gedrukt magazine met projectresultaten van het Kenniscentrum Kinder- en Jeugdpsychiatrie. Samenstelling, (eind)redactie en communicatieadvies. In samenwerking met een klein team bij het Kenniscentrum en een vormgevingsbureau.</p>
                        </div>
                        <div class="col-md-6 column">
                            <h4 class="text-primary"><span class="glyphicon glyphicon-link"></span><a target="_blank" href="/pdf/20160224 Brugpiepers in een snelkookpan.pdf">Brugpiepers in een snelkookpan</a></h4>
                            <p>Interview met een docent over de brugklaskampen die hij organiseert. Bijdrage voor het jubileumboek <i>Van Hoogere Burgerschool tot Zaanlands Lyceum; 150 jaar geschiedenis.</i></p>
                        </div>
                    </div>                        
                    <div class="row">
                        <div class="col-md-6 column">
                            <h4 class="text-primary"><span class="glyphicon glyphicon-link"></span><a target="_blank" href="/pdf/20160304 Interview Jan Doornekamp.pdf">“Kom nou eens vijf minuten eerder je bed uit”</a></h4>
                            Portret van Jan Doornekamp, markante schoolconciërge in ruste. Bijdrage voor het jubileumboek <i>Van Hoogere Burgerschool tot Zaanlands Lyceum; 150 jaar geschiedenis.</i></p>
                        </div>
                    </div>                        
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="/site.js"></script>
    
</html> 